@model MVSimulationViewModel
@{
    var Days = new List<string>() { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"};
    var person = Model.Person;
}

<div>
    <h3>New Simulation</h3>
    <div>
        <form asp-action="Form">
            <!-- Schedule -->
            <h4>Schedule</h4>
            <p>Enter a weekly work schedule. All hours entered must be less than 24. Do not enter any holiday hours worked.</p>
            <div class="row">
                <table class="table table-striped" id="table-schedule">
                    <thead>
                        <tr>
                            <th style="width:15%">Day</th>
                            <th class="text-center">CMVO Hours</th>
                            <th class="text-center">HMVO Hours</th>
                            <th class="text-center">Other Hours</th>
                            <th class="text-center">Is Holiday</th>
                            <th class="text-center" style="width:10%">Totals</th>
                        </tr>
                    </thead>
                    <tbody>
                            @for (var i = 0; i < Days.Count; i++)
                    {
                        var v = person.Hours;
                        <tr>
                            <td>@Days[i]</td>
                            <td>
                                <input type="text" class="form-control hour-input" asp-for="Person.Hours[i].HoursCmvo"/>
                                <span class="text-danger" asp-validation-for="Person.Hours[i].HoursCmvo"></span>
                                @* <input type="text" name="Model[@i].CmvoHours" /> *@
                            </td>
                            <td>
                                <input type="text" class="form-control hour-input" asp-for="Person.Hours[i].HoursHmvo"/>
                                <span class="text-danger" asp-validation-for="Person.Hours[i].HoursHmvo"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control hour-input" asp-for="Person.Hours[i].HoursOther"/>
                                <span class="text-danger" asp-validation-for="Person.Hours[i].HoursOther"></span>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" asp-for="Person.Hours[i].IsHoliday"/>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold day-total"></span>
                            </td>
                        </tr>
                    }
                    <tr class="font-weight-bold">
                        <td>Total</td>
                        <td class="cmvo-total"></td>
                        <td class="hmvo-total"></td>
                        <td class="other-total"></td>
                        <td></td>
                        <td class="text-center grand-total"></td>
                    </tr>

                    </tbody>
                
                </table>
            </div>
            
            <!-- CASES -->
            <hr/>
            <h4>Simulation Cases</h4>
            <p>Enter two scenarios to run the schedule against to compare the number of overtime hours</p>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:33%;">Rule Property</th>
                            <th class="text-center" style="width:33%;">Current Value</th>
                            <th class="text-center" style="width:33%;">Proposed Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardCmvoDaily)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoDaily"/>
                                <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoDaily"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoDaily"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardCmvoDaily"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardCmvoWeekly)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoWeekly"/>
                                <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoWeekly"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoWeekly"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardCmvoWeekly"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardOtherDaily)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardOtherDaily"/>
                                <span class="text-danger" asp-validation-for="BaseCase.StandardOtherDaily"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardOtherDaily"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardOtherDaily"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardOtherWeekly)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardOtherWeekly"/>
                                <span class="text-danger" asp-validation-for="BaseCase.StandardOtherWeekly"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardOtherWeekly"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardOtherWeekly"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardHighwayWeekly)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayWeekly"/>
                                <span class="text-danger" asp-validation-for="BaseCase.StandardHighwayWeekly"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayWeekly"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardHighwayWeekly"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.BaseCase.StandardHighwayReduction)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayReduction"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardHighwayReduction"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayReduction"/>
                                <span class="text-danger" asp-validation-for="VariantCase.StandardHighwayReduction"></span>
                            </td>
                        </tr>
                        @* <tr class="bg-info font-weight-bold">
                            <td>Hours OT</td>
                            <td>@result.PersonResults[0].BaseAmount</td>
                            <td>@result.PersonResults[0].VariantAmount</td>
                        </tr> *@

                    </tbody>
                </table>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Run</button>
        </form>
    </div>
</div>