@using pde_poc_sim.Engine
@model MotorVehicleResultsViewModel

@{
    var baseCase = Model.FullSimulation.Simulation.BaseCase;
    var variantCase = Model.FullSimulation.Simulation.VariantCase;
    var result = Model.FullSimulation.SimulationResult;
    var person = Model.Person;
    var Days = new List<string>() { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"};
}

<h3>Simulation Results</h3>
<div>
    <h4>Schedule</h4>
    <div class="row">
        <table class="table table-striped" id="table-schedule-results">
            <thead>
                <tr>
                    <th>Day</th>
                    <th class="text-center">CMVO Hours</th>
                    <th class="text-center">HMVO Hours</th>
                    <th class="text-center">Other Hours</th>
                    <th class="text-center">Is Holiday</th>
                    <th class="text-center">Totals</th>
                </tr>
            </thead>
            <tbody>
                    @for (var i = 0; i < Days.Count; i++)
            {
                var hours = person.WeeklySchedule.Hours;
                <tr>
                    <td>@Days[i]</td>
                    <td>
                        @hours[i].HoursCmvo
                    </td>
                    <td>
                        @hours[i].HoursHmvo
                    </td>
                    <td>
                        @hours[i].HoursOther
                    </td>
                    <td>
                        @hours[i].IsHoliday
                    </td>
                    <td>
                        <span class="font-weight-bold day-total">
                            @(hours[i].HoursCmvo + hours[i].HoursHmvo + hours[i].HoursOther)
                        </span>
                    </td>
                </tr>
            }
            <tr class="font-weight-bold">
                <td>Totals</td>
                <td class="cmvo-total">
                    @person.WeeklyCmvoHours
                </td>
                <td class="hmvo-total">
                    @person.WeeklyHmvoHours
                </td>
                <td class="other-total">
                    @person.WeeklyOtherHours
                </td>
                <td></td>
                <td class="grand-total">
                    @(person.WeeklyOtherHours + person.WeeklyCmvoHours + person.WeeklyHmvoHours)
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr/>
    <h4>Simulation Cases</h4>
    <div class="row">
        <table class="table table-striped" id="table-cases-results">
            <thead>
                <tr>
                    <th>Rule Property</th>
                    <th class="text-center">Current Value</th>
                    <th class="text-center">Proposed Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Standard CMVO Daily Hours</td>
                    <td>@baseCase.StandardCmvoDaily</td>
                    <td>@variantCase.StandardCmvoDaily</td>
                </tr>
                <tr>
                    <td>Standard CMVO Weekly Hours</td>
                    <td>@baseCase.StandardCmvoWeekly</td>
                    <td>@variantCase.StandardCmvoWeekly</td>
                </tr>
                <tr>
                    <td>Standard Other Daily Hours</td>
                    <td>@baseCase.StandardOtherDaily</td>
                    <td>@variantCase.StandardOtherDaily</td>
                </tr>
                <tr>
                    <td>Standard Other Weekly Hours</td>
                    <td>@baseCase.StandardOtherWeekly</td>
                    <td>@variantCase.StandardOtherWeekly</td>
                </tr>
                <tr>
                    <td>Standard Highway Weekly Hours</td>
                    <td>@baseCase.StandardHighwayWeekly</td>
                    <td>@variantCase.StandardHighwayWeekly</td>
                </tr>
                <tr>
                    <td>Standard Highway Reduction Hours</td>
                    <td>@baseCase.StandardHighwayReduction</td>
                    <td>@variantCase.StandardHighwayReduction</td>
                </tr>
                <tr class="bg-info font-weight-bold">
                    <td>Total Hours OT</td>
                    <td>@result.PersonResults[0].BaseAmount</td>
                    <td>@result.PersonResults[0].VariantAmount</td>
                </tr>

            </tbody>
        </table>
    </div>
    <hr/>
    <a type="button" asp-action="Modify" class="btn btn-primary">Modify Simulation</a>
</div>

<style>
    #results-table_wrapper {
        width: 100% !important
    }
</style>